
h1 {
    color: brown;
    font-style: oblique;
      text-align: center;

}
h3 {
  color: red;
  font-style: oblique;
  text-align: center;

}
p{
  font-style: italic;
}

mycodePeace {
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 45%;
}
